<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zsx.crm_excel.mapper.UserInfoMapper" >

    <select id="getUserInfo" resultType="com.zsx.crm_excel.pojo.UserInfo">
        select * from xycms_user_info
    </select>

    <select id="getUserInfoByTime" resultType="com.zsx.crm_excel.pojo.UserInfo">
        select * from xycms_user_info where FROM_UNIXTIME(time,'%Y-%m-%d') between #{beginDate} and #{endDate}
    </select>

    <select id="getUserInfoCountByTime" resultType="java.lang.Integer">
        select count(*) from xycms_user_info where FROM_UNIXTIME(time,'%Y-%m-%d') between #{beginDate} and #{endDate}
    </select>
</mapper>