*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
h1{
    text-align: center;
}
body>div>div{
    margin: 20px auto;
    text-align: center;
}
.btn{
    width: 220px;
    padding: 6px 0;
    text-align: center;
    background-color: rgb(30,187,255);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.yestday-count{
    width: 80%;
    margin: 20px auto 0 auto;
}
#this-number{
    display: inline-block;
    color: rgb(237,28,36);
    margin: 0 10px;
}
.user-info>div{
    width: 80%;
}
.user-info-title,.user-info-content{
    border-left: 1px rgb(30,187,255) solid;
    border-bottom: 1px rgb(30,187,255) solid;
    border-top: 1px rgb(30,187,255) solid;
}
.user-info-title>li,.user-info-content>li{
    display: inline-block;
    width: calc((100% - 30px) / 6);
    border-right: 1px rgb(30,187,255) solid;
    padding: 10px 0;
}
.user-info-title>li{
    font-weight: bold;
}
